body {
  background-color: #ede5e2;
}

.header-nav {
  background-color: #61d2d6;
}

li {
  padding-left: 20px;
  font-size: 18px;
}

.cols-img {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.paragraphs {
  display: flex;
  padding: 50px 0 50px 50px;
}

p {
  padding: 0 20px;
}
